<!doctype html>
<html>
    <head>
        <title>{{ the_title }}</title>
        <link rel="stylesheet" href="static/hf.css" />
        <script src="{{ url_for('static', filename='echarts.min.js') }}"></script>

    </head>
    <body>
        {% block body %}

        {% endblock %}
    </body>
</html>
