{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<form method='POST' action='/compare'>
<table>
<p>请输入想要比价的商品:</p>
<tr><td>商品:</td><td><input name='word' type='TEXT' width='60'></td></tr>
</table>
<p>输入完成下面按钮点击:</p>
<p><input value='Search!' type='SUBMIT'></p>


</form>

<form method='POST' action='/history'>
<table>
<p>请输入想要查询商品id(仅限已爬取的商品中):</p>
<tr><td>id:</td><td><input name='id' type='TEXT' width='60'></td></tr>
</table>
    <p>输入完成后点击下列按钮:</p>
    <p><input value='Search!' type='SUBMIT'></p>
</form>>
{% endblock %}
