{% extends 'base.html' %}

{% block body %}

<p>商品名称:{{good_name}}</p>
<div id="top" style="width: 900px; height: 400px; padding: 20px;"></div>
    <script src="{{ url_for('static', filename='echarts.min.js') }}"></script>
    <script type="text/javascript">var myTop = echarts.init(document.getElementById('top'));
    optionTop = {
        title: {text: 'The history of goods_price', left: 0, top: -5, subtextStyle: {fontWeight: 'bolder'}},
        toolbox: {show: true, right: 80, feature: {saveAsImage: {}}},
        legend: {show: true, data: ['价格'], right: 0},
        tooltip: {trigger: 'axis'},
        grid: {bottom: 90},
        xAxis: {
            boundaryGap: false,
            name: 'date of price',
            nameLocation: 'center',
            nameGap: 22,
            data: [{% for name in column %}'{{ name }}', {% endfor %}],
            silent: false,
            splitLine: { show: false },
            splitArea: { show: false },
            nameTextStyle: { fontWeight: 'bolder' }

        },
        yAxis: {
            name: 'price',
            nameLocation: 'center',
            nameGap: 22,
            silent: false,
            splitLine: { show: false },
            splitArea: { show: false },
            nameTextStyle: { fontWeight: 'bolder' }
        },
        series: [{
            name: '价格',
            type: 'line',
            data: [{% for price in values %} {{ price }}, {% endfor %}],
        }]
    };

    myTop.setOption(optionTop);
    </script>

{% endblock %}