{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>

<p>你提交的商品名称:</p>
<table>
<tr><td>关键字:</td><td>{{ the_word }}</td></tr>
</table>

<p>下面是 "{{ the_word }}" 的搜索比价结果:</p>
<table>
	<tr>
		{% for row_title in the_row_titles %}
			<th>{{row_title}}</th>
		{% endfor %}
	</tr>
	{% for products in the_data %}
	<tr>
		<td>{{products['description']}}</td>
        <td><img src="{{products['picture']}}"height="200" width="160" ></td>
        <td>{{products['price']}}</td>
		<td><a href={{products['detail_url']}}>{{products['detail_url']}}</a></td>
		<td>{{products['shop']}}</td>
		<td>{{products['reference']}}</td>
	</tr>
	{% endfor %}
</table>

{% endblock %}
